/* ELEMENTOS SEMANTICOS */
body {
    margin: 0;
    background-image: linear-gradient(darkgreen,lime);
    background-attachment: fixed;
    font-family: "Roboto", sans-serif;
}

/* FUNDO */
.box_mae {
    background-image: url(fundo.gif);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    height: 400px;
    width: 200px;
    border-radius: 5px;
}

/* LOGO */

img {
    width: 250px;
    position: absolute;
    top: 40px;
    left: 55px;
}

.info {
    position: absolute;
    bottom: 140px;
    left: 70px;
}

/* INPUT */
input {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

/* BOTAO */
button {
    background-color: orange;
    border: none;
    padding: 15px;
    width: 225px;
    border-radius: 10px;
    font-size: 15px;
}
button:hover {
    cursor: pointer;
    background-color: orangered;
    transition: 0.25s;
}

/* ANCORA DE CADASTRO */
.imperare{
    position: absolute; 
    left: 60px; 
    bottom: 50px;
    text-decoration: none; 
    color: deepskyblue; 
}