@font-face {
    font-family: TiltNeon;
    src: url(TILTNEON.ttf);
}
body {
    margin: 0;
    background-image: linear-gradient(darkgreen,lime);
    background-attachment: fixed;
    font-family: TiltNeon;
    color: white;
}

.main1 {
    background-image: url(fundo.gif);
    position: absolute;
    left: 0;
    margin: 40px;
    width: 820px;
    height: 600px;
    border-radius: 15px;
}

.main2 {
    background-image: url(fundo.gif);
    position: absolute;
    right: 0;
    margin: 40px;
    width: 420px;
    height: 600px;
    border-radius: 15px;
}
.maintxt {
    text-align: center;
}

.card {
    margin: 40px;
    width: 740px;
    height: 200px;
    background-color: #1b1b1b;
    box-shadow: darkviolet 0px 0px 0px 2.5px;
    border-radius: 5px;

}
.card-img {
    width: 120px;
    height: 160px;
    margin: 20px;
    border-radius: 5px;
}
p {
    position: absolute;
    top: 150px;
    left: 190px;
    font-size: 20px;
}
.p2 {
    left: 450px;
}
.p25 {
    left: 450px;
    top: 190px;
    color: crimson;
}
.p3 {
    left: 650px;
}
.p35 {
    left: 650px;
    top: 190px;
    color: crimson;
}
.avaliado {
    position: absolute;
    top: 200px;
    left: 190px;
    width: 200px;
}

.preco {
    position: absolute;
    right: 20px;
    top: 300px;
}
.preco2 {
    position: absolute;
    right: 20px;
    top: 330px;
}

h2 {
    margin-left: 20px;
}
.input {
    margin-left: 20px;
}
input {
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
}
.botao {
    position: absolute;
    left: 70px;
    bottom: 100px;
}
button {
    background-color: #1b1b1b;
    color: crimson;
    box-shadow: crimson 0px 0px 0px 2.5px;
    font-family: TiltNeon;
    border: none;
    height: 50px;
    width: 280px;
    border-radius: 25px;
    font-size: 20px;
}
button:hover {
    cursor: pointer;
    color: green;
    box-shadow: green 0px 0px 0px 2.5px;
    transition: 0.25s;
}